<html>
<head>
    <meta charset="UTF-8" />
    <title>sentiment analyse</title>
<style type="text/css">
.divForm{
position: absolute;
width: 635px;
height: 200px;
top: 50%;
left: 50%;
margin-top: -100px;
margin-left: -300px;
}
</style>
</head>
<body>
       <div class="divForm">
    <form action="/query" method="post">
        <input name="carname" placeholder="汽车品牌名" style="width:545px;height:35px" value="{{ carname }}"><button type="submit" style="width:90px;height:38.5px" >查询</button>
    </form>
    </div>
</body>
</html>
